/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#container {
  color: #f5f7fa;
  padding: 10px;
  border: 1px solid black;
  font: message-box;
  background: #343c45;
  width: 500px;
  border-radius: 2px;
}

#container:after {
  content: "";
  display: table;
  clear: both;
}

#container.dragging {
  -moz-user-select: none;
}

#filters, #presets {
  position: relative;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
}

.left-side {
  float: left;
  width: 190px;
  padding-right: 10px;
}

.right-side {
  float: right;
  width: 290px;
  padding-left: 10px;
}

#filters-footer, #presets-footer {
  flex: 1 0 100%;
  width: 100%;
  align-self: flex-end;
}

/*#filters, #filters-footer, #presets, #presets-footer {
  width: 100%;
}*/

/*
#filters, #filters-footer {
  float: right;
  width: 290px;
  margin-left: 10px;
}

#presets, #presets-footer {
  float: left;
  width: 190px;
  padding-right: 9px;
}*/

.theme-light #add-filter,
.theme-light .remove-button {
  filter: invert(1);
}

.filter, .preset {
  display: flex;
  margin-bottom: 10px;
}

.preset {
  cursor: pointer;
  padding: 3px 5px;
}

.preset label {
  cursor: pointer;
}

.preset:hover {
  background: rgba(29, 79, 115, 0.8);
}

.filter-name,
.filter-value,
.preset label,
.preset span {
  display: flex;
  align-items: center;
}

.filter-name, .preset label {
  padding-right: 10px;
  flex: 1;
}

.filter-value, .preset span {
  min-width: 150px;
  margin-right: 10px;
  flex: 2;
}

.preset {
  flex-direction: row;
  flex-wrap: wrap;
}

.preset label {
  flex: 1 0;
}

.preset span {
  flex: 1 0;
}

.preset .remove-button {
  order: 2;
}

.preset span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  order: 3;
}

.remove-button {
  width: 16px;
  height: 16px;
  background: url(./close@2x.png);
  background-size: 16px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* drag/drop handle */
#filters i {
  width: 10px;
  margin-right: 15px;
  padding: 10px 0;
  cursor: grab;
}

#filters i::before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: currentColor;
  box-shadow: 0 3px 0 0 currentColor,
              0 -3px 0 0 currentColor;
}

#container .dragging {
  position: relative;
  z-index: 10;
  cursor: grab;
}

.filter-name label {
  -moz-user-select: none;
  flex-grow: 1;
}

.filter-name label.devtools-draglabel {
  cursor: ew-resize;
}

.filter-value input {
  min-width: 50%;
  flex-grow: 1;
}

.filter-value span {
  flex-grow: 0.6;
}

/* message shown when there's no filter specified */
#container p {
  text-align: center;
  line-height: 20px;
}

#filters-footer, #save-preset {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}

#filters-footer select {
  flex-grow: 1;
  box-sizing: border-box;
  font: inherit;
  margin: 0 3px;
}

#save-preset input {
  flex-grow: 1;
  margin-right: 10px;
  border: none;
  padding: 3px 5px;
  border-radius: 3px;
}


#add-filter, .add {
  background: url(./add.svg);
  background-size: 18px;
  border: none;
  width: 16px;
  height: 16px;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}

#toggle-view {
  width: 100%;
  /*margin: 10px auto 0;*/
}

.placeholder {
  opacity: 0.6;
}

.placeholder:hover {
  opacity: 1;
}

[data-placeholder] {
  height: 13.5px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
}

[data-placeholder]:focus::before {
  display: none;
}
