.theme-light #add-filter,
.theme-light .filter-editor-remove-button,
.theme-light #editor i {
  filter: invert(1);
}
.filter-editor-remove-button {
  -moz-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: url(chrome://browser/skin/devtools/close@2x.png);
  background-size: 16px;
  -moz-margin-start: 10px;
  font-size: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

#editor {
  background: var(--theme-toolbar-background);
  color: var(--theme-body-color);
  padding: 10px;
  display: inline-block;
  border: 1px solid var(--theme-splitter-color);
  font: message-box;
}

#editor.dragging {
  -moz-user-select: none;
}

#editor i {
  display: block;
  float: left;
  width: 10px;
  height: 12px;
  margin: 7px 15px 0px 5px;
  cursor: grab;
}

#editor i::before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #EEF0F2;
  box-shadow: 0 3px 0 0 #EEF0F2,
              0 -3px 0 0 #EEF0F2;
}

#editor tr.dragging {
  position: relative;
  z-index: 10;
  cursor: grab;
}

#editor table {
  margin-bottom: 20px;
}

.filter-editor-item-label {
  flex: 0.75;
  -moz-user-select: none;
}
.filter-editor-item-label.devtools-draglabel {
  cursor: ew-resize;
}
.filter-editor-item-editor {
  flex: 2;
}
.filter-editor-item-editor.devtools-rangeinput {
  flex: 1.7;
}
.filter-editor-item-value {
  flex: 0.3;
  text-align: center;
  max-width: 20px;
  width: 20px;
  overflow: visible;
  position: relative;
  top: 2px;
}

#editor select {
  font: inherit;
  -moz-margin-end: 10px;
}

#editor-footer {
  float: right;
}

#add-filter {
  -moz-appearance: none;
  background: url(add.svg);
  background-size: 18px;
  border: none;
  width: 16px;
  height: 16px;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}