.theme-light #add-filter,
.theme-light .remove-button,
.theme-light #editor i {
  filter: invert(1);
}

.filter {
  display: flex;
  margin-bottom: 10px;
}

.filter-name,
.filter-value {
  display: flex;
  min-width: 150px;
  align-items: center;
}

.filter-value {
  flex-grow: 1;
}

.remove-button {
  width: 16px;
  height: 16px;
  background: url(chrome://browser/skin/devtools/close@2x.png);
  background-size: 16px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

#editor {
  background: var(--theme-toolbar-background);
  color: var(--theme-body-color);
  padding: 10px;
  border: 1px solid var(--theme-splitter-color);
  font: message-box;
  width: 300px;
}

#editor.dragging {
  -moz-user-select: none;
}

#editor i {
  width: 10px;
  margin-right: 15px;
  padding: 10px 0;
  cursor: grab;
}

#editor i::before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #EEF0F2;
  box-shadow: 0 3px 0 0 #EEF0F2,
              0 -3px 0 0 #EEF0F2;
}

#editor .dragging {
  position: relative;
  z-index: 10;
  cursor: grab;
}

.item-label {
  -moz-user-select: none;
  flex-grow: 1;
}

.item-label.devtools-draglabel {
  cursor: ew-resize;
}

.item-editor {
  min-width: 50%;
  flex-grow: 1;
}

.item-value {
  text-align: center;
  max-width: 20px;
  width: 20px;
  overflow: visible;
  position: relative;
  top: 2px;
}

/* message shown when there's no filter specified */
#editor p {
  text-align: center;
  line-height: 20px;
}

#editor-footer {
  display: flex;
  justify-content: flex-end;
}

#editor-footer select {
  flex-grow: 1;
  box-sizing: border-box;
  font: inherit;
  margin: 0 3px;
}

#add-filter {
  -moz-appearance: none;
  background: url(add.svg);
  background-size: 18px;
  border: none;
  width: 16px;
  height: 16px;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}
